Os novos arquivos devem seguir a estrutura de diretórios já existente e o padrão de nomes de arquivos do Nuxt 4.
O projeto está usando:

- `Nuxt UI` como biblioteca de componentes.
- `bun` como gerenciador de pacotes.
- `TypeScript` como linguagem de programação.
