Os arquivos do frontend, devem ser criados na pasta `./app`.
Os arquivos do backend, devem ser criados na pasta `./server/api` e os arquivos de validação, na pasta `./server/validations`.
Ambos devem ser criados seguindo a estrutura de diretórios do Nuxt 4.

O projeto está usando:

- `Nuxt UI 3` como biblioteca de componentes, que ainda está em desenvolvimento.
- `TailwindCSS 4` como biblioteca de estilização.
- `NuxtHub` para auxiliar o deploy, junto a Cloudflare.
- `Drizzle` como ORM.
- `bun` como gerenciador de pacotes.
- `TypeScript` como linguagem de programação.
- `i18n` como gerenciador de internacionalização e não se deve sugerir seu uso, sem uma solicitação do usuário.
