SITE_NAME=MyDash
SITE_URL=http://localhost:3000

# Session
NUXT_SESSION_PASSWORD=password-with-at-least-32-characters

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydash
POSTGRES_HOST=localhost
POSTGRES_PORT=5432 

# Email
MAILCRAB_PORT=1080
MAILCRAB_SMTP_PORT=1025
MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025
MAIL_SMTP_SECURE=false
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
MAIL_FROM_EMAIL=no_reply@mydash.com
MAIL_FROM_NAME="Gabriel do MyDash" 

# Encryption
# Generate a secure key using: openssl rand -hex 32
ENCRYPTION_KEY=b3d38edb0274218afd9d12452c561b3d4305493973607f428724d1e5feb5982c
