/* Definindo Faustina como fonte padrão para títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Faustina", serif;
}

/* Opcional: você pode definir diferentes pesos para diferentes níveis de título */
h1 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 500;
}
